*, *:before, *:after {
  background-color: #eee9d5;
  box-sizing: border-box;
}
 

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 100px;
}

h1 {
  color: #4d2a16;
  font-family: 'Lora', serif;
  font-size: 5rem;
  border-bottom: solid 1px rgb(88, 136, 96);

}

h4 {
  color:  rgb(88, 136, 96);
  font-size: 28px;
  
}
.img-brown-div {

}

#brownishbg {
  border-radius: 50px;
  max-width: 100%;
  max-height: 100%;
}


#img-caption {
  font-size: 1em;
  color:#9aabbb
}



.tribute-info {
  font-size: 2rem;
  padding: 50px;
  word-wrap: break-word;
  
}

#trib-p {
  background-color: rgba(199, 97, 29, 0.596);
  color: wheat;
  padding: 50px;
  margin: 50px;
  width: auto;
  border-radius: 5px;
}

.bold {
  background-color: transparent;
  color: rgb(254, 255, 254);
  font-family: 'Lora', serif;
  font-size: 3rem;
}

#img-teaching {
  filter: grayscale(100%);
  border-radius: 50px;
  max-width: 80%;
  max-height: 80%;

  margin: 150px;
}

.inlist1 {
  margin: 100px;

}

  
  

/* font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif */
  
  
  
  