

 {
    background-color: #f0f0f0;
  }
  body {
    text-align: center;
    font-family: 'Bodoni Moda', serif;
  }
   h1 {
    color: #4d2a16;
     padding-top: 50px;
  
  }
  h4 {
    color: #976f4f;  
      font-size: 18px;
    padding-bottom: 50px;
  }
  .header {
    background-color: #c7cedf;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
  }
  #image2 {
    max-width: 70%;
    border-radius: 40px;
  }
  #ima {
    
  }
  #image {
      display: block;
    margin: 0 auto;
    max-width: 100%;
        border-radius: 40px;
  }
  
  #img-caption {
    font-size: 13px;
   
  }
  #tribute-info {
      color: #c7cedf;
      background-color: #976f4f;
      margin-left: 200px;
      margin-right: 200px;
      border-radius: 50px;
      font-size: 20px;
      padding: 50px;
  }
  .list1 {
    background-color: #c7cedf;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
  }
  
  #also {
    padding-top: 50px;
    font-size: 20px;
    color: #4d2a16;
  }
  #more-info {
      color: #4d2a16;
      line-height: 200%;
  padding: 50px
      font-size: 20px;
  }
  .list2 {
    color: #c7cedf;
    background-color: #007a79;
  padding: 50px;
      font-size: 20px;
      margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
  }
  #mother {
    font-size: 25px;
    color: white;
  }
  footer {
    background-color: #95a3b3;
    font-size: 18px;
    color: white;
    margin: 50px;
        margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
  }
  
  
  
  
  